@model IEnumerable<EquipmentRental.UI.Models.DTO.EquipmentDTO>
@{
}

<h1 class="mt-3">Equipment Rentals</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="EquipmentRentals" asp-action="AddEquipmentRental">Add Equipment</a>
</div>

<table class="tabel table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Rented</th>
            <th>Customer</th>
            <th>Location</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td>@equipment.Id</td>
                <td>@equipment.Name</td>
                <td>@equipment.Description</td>
                <td>@equipment.Price</td>
                <td>@equipment.Rented</td>
                <th>@equipment.Customer.FirstName @equipment.Customer.LastName</th>
                <th>@equipment.Location.StoreName, @equipment.Location.City, @equipment.Location.StateCode</th>
                <td>
                    <a asp-controller="EquipmentRentals" asp-action="EditEquipmentRental" asp-route-id="@equipment.Id" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>